*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    height: 100vh;
}
/* nav */
.nav{
    text-align: end;
    padding: 1rem;
}
.nav a{
    color: black;
    padding: 0 9px;
}
.nav  a button{
    padding:5px 2rem;
    margin: 0 2px;
    background-color: #1a73e8;
    border: 1px solid transparent;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.nav .iconsİmage{
    height: 15px;
    padding: 0 2px;
    cursor: pointer;
}
.nav .profilİmage{
    height: 35px;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 10px;
    border-radius: 2px;
}
.nav  img:hover{
    background-color: rgb(172, 174, 175);  
    
}

/* search section */
.logo{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%;

}

.search{
    text-align: center;
}

.search .input-wrapper{
    margin: 2%;
}
.searchbar{
    width: 500px;
    height: 45px;
    border-radius: 30px;
    border-color: rgba(164, 159, 159, 0.333);
    padding-left: 27px;
    padding-right: 30px;
}
.searchbar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.searchbar:focus{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}
.voiceBar{
    position: relative;
}
.voice{
    height: 25px;
    position: absolute;
    left: -75px;
    top: -2px;
    padding-bottom: 1rem;
}

.klavyeBar{
    position: relative;
}
.tia{
    position: absolute;
    left: -45px;
    top: -2px;
}

/* buttons */
.buttons{
    text-align: center;
    margin-top: 2rem;
}
.buttons button{
    padding:8px;
    background-color:#f5f3f3;
    border: none;
    border-radius: 2px;
}

/* footer */
#footer{
    margin-top: 645px;
    position: fixed;
    background-color: rgba(190, 189, 189, 0.245);
    border-color:  rgba(137, 135, 135, 0.395);
    padding: 8px 0 0 0;
    height: 80px;
    width: 100%;
}
#footer a{
    color: black;
    padding: 5px;
}
#footer .footer-text{
    padding-left: 1.3rem;
    padding-bottom: 1rem;
}
.center-content span{
    white-space: nowrap;
    vertical-align: top;
}

.footer-content img{
    width: 14px;
    margin-right: 6px;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px 15px;
}

